@model IEnumerable<Pizzas>

@{
    var pageName = "Home Page";
    ViewData["Title"] = pageName;
}

<div align="center">
    <h1>Witamy w AlienHut</h1>
    <h2>Prosze o dokonanie wyboru pizzy :D.</h2>
</div>

@await Component.InvokeAsync("CarouselMenu")
